# The port on which the server will run
PORT=YOUR_PORT

# The environment in which the application is running (e.g., development, production)
NODE_ENV=YOUR_ENVIRONMENT

# The URI of the MongoDB database
DATABASE_URI=YOUR_MONGODB_URI

# This is separate MongoDB database for testing
TEST_DATABASE_URI=YOUR_TEST_MONGODB_URI

# Comma-separated list of allowed origins for CORS (e.g., http://localhost:3000,http://localhost:3001)
ALLOWED_ORIGINS=YOUR_ALLOWED_ORIGINS